* {
    padding: 0;
    margin: 0;
}

.container-add-group-main{
    display: flex;
    min-width: 1200px;
    height: 100vh;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}

.add-group-container {
    /* background-color: aqua; */
    width: 1200px;
    height: 700px;
    /* max-height: 700px; */
    /* min-height: 120px; */
    /*border: 2px solid black;*/
    box-shadow: 0 4px 16px rgb(165, 165, 165);
    border-radius: 5px;
    padding: 10px;

    display: grid;
    grid-template-rows: 10% 90%;

}

.add-group-header {
    /* background-color: aqua; */
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.add-group-content {
    /* background-color: red; */
}

select {
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

span {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}